.App {
  background: var(--COLOR-GRAY);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--COLOR-GRAY);
  color: var(--COLOR-GRAY-LIGHT);
  padding: 1.2rem;
}